VITE_FIREBASE_API_KEY=AIzaSyCHBsnezOTq6iizCugxpkSL3n8EtGLSJZo
VITE_FIREBASE_AUTH_DOMAIN=atlas-1897a.firebaseapp.com
VITE_FIREBASE_STORAGE_BUCKET=atlas-1897a.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=381364213477
VITE_FIREBASE_APP_ID=1:381364213477:web:e8b28e02956da0b4fd260c
